# build files
build/
build_*/

# sdkconfig (èÍçáÇ…ÇÊÇÈ)
sdkconfig.old

# flash data
*.bin
*.elf
*.map

# vscode
.vscode/

# python env
venv/

# WiFi credentials
spiffs/config*.json

# components
components/LovyanGFX/

